*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: outfit, sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
}

.container{
    padding: 1rem;
}

.card{
   background-color: hsl(0, 0%, 100%);
   width: 375px;
    padding: 16px;
    border-radius: 20px;
   text-align: center;
   
}


.img{
   width: 100%;
   border-radius: 11px;
}

/* .QRbox{
    padding: 16px;

    text-align: center;
} */
.title{
    font-size: 20px;
    font-weight: 700;
    color: var(--slate-900);
    margin: 1rem 0 0.75rem;
    
}

.description{
    font-size: 15px;
    font-weight: 400;
    color: rgb(137, 138, 153);
    padding: 0 0.5rem 1rem;
}